@model Mvc2Ajax.ViewModels.PlayerListViewModel
@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-4">Players</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Players)
        {
            <tr>
                <td> @p.Name</td>
            </tr>
        }
        
    </tbody>
    </table>

    <div id="currentPlayerPartial"></div>

    <button onclick="fetch20more()">Tryck</button>

    @section scripts{
        <script>
            var skip = 0;
            function fetch20more() {
                skip = skip + 20;
                $.ajax({
                    url: "/player/GetFrom?startPos=" + skip, success: function (result) {
                        $("#currentPlayerPartial").append(result);
                    }
                });
            }

        </script>
    }

