@model Mvc2Ajax.ViewModels.PlayerListViewModel
@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-4">Players</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model.Players)
    {
        <tr>
            <td onmouseover="fetch('@p.Id')" >@p.Name</td>
        </tr>
    }
    </tbody>
</table>

<div id="currentPlayerPartial"></div>



@section scripts{
    <script>
        function fetch(id) {
            console.log(id);

            $.ajax({url: "/player/get?id=" + id, success: function(result){
                $("#currentPlayerPartial").html(result);
            }});        }

    </script>
}

